@model Product

@{//
/*
<div class="container">
    <h1>Products in stock</h1>
    <h3>@Model.ProductName</h3>
    <div class="row">
        @{
            //ViewData["Title"] = "List";


            foreach (var product in Model.)
            {


                <div class="col-sm-6 col-md-4 col-lg-4 mb-2 p-3">
                    <div class="card">
                        <img src="@product.ImageThumbnailUrl" alt="" style="width:100%; height:200px" />
                        <div class="card-body">
                            <h4 class="float-right">@product.Price.ToString("c")</h4>
                            <h4 class="align-top">
                                <a>@product.ProductName</a>
                            </h4>
                            @*<p>@product.ShortDescription.Substring(20) </p>*@
                            <a href="#" class="btn btn-primary">To Cart</a>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

</div>
*/
}

                